#container,
#DataForm,
#deleteForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
}

#DataForm,
#deleteForm,
.displayNone{
    display: none
}

#DataForm{
    margin: 1rem;
}

input, label {
    margin: 10px;
}